.welcome{

	grid-area: welcome;
	padding-left: 50px;
	padding-right: 20px;
	padding-bottom: 46px;
	display: flex;
	
}

.boxContainer{
	width: 50%;
	justify-content: space-evenly;	

}


.welcomeHeading{
	color: $pink;
    font-size: 57px;
    position: relative;
}


.boldText{
    width: 100%;
}

.unboldText{
	font-size: 1em;
}

.one{
	background-color: red;
	width: 284px;
	height: 122px;
	border-radius: 8px;
	margin: 10px;
	order: 1;
	background: no-repeat center/100% url("../images/one.png");

}

.two{
	background-color: blue;
	width: 284px;
	height: 122px;
	border-radius: 8px;
	margin: 10px;
	order: 2;
	background: no-repeat center/100% url("../images/two.png");
}

.three{
	background-color: green;
	width: 284px;
	height: 122px;
	border-radius: 8px;
	margin: 10px;
	order: 3;
	background: no-repeat center/100% url("../images/three.png");
	&:hover{
    color: #ed4290;
	}
}